@import "styles/variables";

.schedule {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: $SCHEDULE_GRID_PADDING;
}

.main {
  position: relative;
  overflow: auto;
  display: flex;
}
