{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": ["babel", "react", "promise", "import", "import-order", "lodash"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "key-spacing": 0,
    "jsx-quotes": [2, "prefer-single"],
    "max-len": [
      2,
      {
        "code": 120,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "object-curly-spacing": [2, "always"],
    "react/prop-types": 0,
    "comma-dangle": [2, "always-multiline"],
    "import-order/import-order": 2,
    "quote-props": [2, "as-needed"],
    "no-labels": [2, { "allowLoop": true }],
    "no-console": [2, { "allow": ["warn", "error"] }],
    "react/sort-comp": [
      2,
      {
        "order": ["static-methods", "lifecycle", "/^on.+$/", "everything-else", "render"]
      }
    ],
    "lodash/import-scope": [2, "method"],
    "no-unused-vars": [
      "error",
      { "vars": "all", "args": "all", "ignoreRestSiblings": true, "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }
    ],
    "curly": [2, "all"]
  }
}
